<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebdialerSoapServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WebdialerSoapServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.22.3.59/webdialer/services/WebdialerSoapService"
                binding="basicHttpBinding" bindingConfiguration="WebdialerSoapServiceSoapBinding"
                contract="CiscoWebDialer.WebdialerSoapService" name="WebdialerSoapService" />
        </client>
    </system.serviceModel>
</configuration>